h1 {
  font-size: 80px;
  color: #744a3c;
  text-align: center;
  padding: 0%;
  margin-top: 0%;
  font-weight: bolder;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}
h2 {
  color: #66423a;
  text-align: center;
  font-size: 50px;
  border: 1px solid brown;
  line-height: 50px;
  border-radius: 4px;
  margin-top: 0%;
}
p {
  line-height: 17.5px;
  font-size: 15px;
  margin: 20px 10px;
}
img {
  display: block;
  margin: 0 auto;
  position: relative;
  left: -10px;
}
a {
  text-align: center;
  font-size: 15px;
  display: block;
}
button {
  color: 66423a;
  background: #fce88a;
  margin: 30px auto;
  padding: 15px 20px;
  display: block;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 66423a;
  border: 1px solid 66423a;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 50px;
}
